@import "../../styles/variables.css";

.logoutContainer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.exit {
  display: block;
  color: var(--gray-text-color);
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: var(--gray-text-color);
}

.logoutContainer,
.icon:hover,
.exit:hover {
  color: var(--brand-color);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}