.container {
  align-items: center;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.slimMom {
  display: none;
  width: 105.301px;
  height: 16px;
  flex-shrink: 0;
  margin-left: -10px;
}

@media screen and (width >= 768px) {
  .slimMom {
    display: flex;
    width: 105.301px;
    height: 16px;
    flex-shrink: 0;
    margin-left: 10px;
  }
}

@media screen and (width >= 1024px) {
  .container {
    align-items: flex-end;
  }

  .slimMom {
    margin-left: -10px;
  }
}
