.cont {
    display: none;
}

.secondary {
    display: none;
}

.ternary {
    display: none;
}

@media screen and (width >=768px) {
    .cont {
        position: absolute;
        background: url('../../../images/Leaves-small.jpg') lightgray 50% / cover no-repeat;
        border: none;
        outline: none;
        display: flex;
        /* width: 428px; */
        height: -webkit-fill-available;
        /* transform: rotate(90deg); */
        flex-shrink: 0;
        background-position: center;
        z-index: -1;
        /* Places the background behind other content */
    }

    .secondary {
        background: url('../../../images/Leaves.jpg') lightgray 50% / cover no-repeat;
        display: flex;
        width: 531px;
        height: 602px;
        transform: rotate(90deg);
        flex-shrink: 0;
    }

    .ternary {
        position: absolute;
        background: url('../../../images/Leaves-740-842.jpg') lightgray 50% / cover no-repeat;
        display: flex;
        /* width: 100%;
        height: 100%; */
        flex-shrink: 0;
        background-position: center;
        z-index: -1;
        /* Places the background behind other content */
    }
}

@media screen and (width >=1024px) {
    .cont {
        width: 746px;
    }

    .secondary {
        width: 740px;
        height: 842px;
    }
}