.cont {
    display: none;
}

@media screen and (width >=768px) {
    .cont {
        background: url('../../../images/Banana.jpg') lightgray 50% / cover no-repeat;
        display: flex;
        width: 740px;
        height: 527px;
        flex-shrink: 0;
    }
}

@media screen and (width >=1024px) {
    .cont {
        width: 773px;
        height: 552px;
    }
}