.cont {
    display: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -2;
}

.svg {
    fill: #F0F1F3;
}


@media screen and (width >=768px) {
    .cont {
        display: block;
        top: 461px;
        right: -32px;
    }
}

@media screen and (width >=1024px) {
    .cont {
        right: 0;
        bottom: 0;
    }
}